* {
    margin: 0;
    padding: 0;
}
html {
    height: 100vh;
    width: 100vw;
}

body {
    height: 100%;
    display: grid;
    grid-template-areas: "body"
    "footer";
    grid-template-rows: 80% 20%;
}

header{
    width: 100%;
    grid-area: "body";
    display: grid;
    grid-template-columns: repeat(50,1fr);
    grid-template-rows:repeat(25, 1fr);
}

.sky{
    background-color: rgba(156, 233, 233);
}

.sky:hover, .block:hover, .tree:hover, .grass:hover, .ground:hover {
    outline: white;
    border: 2px solid rgb(255, 255, 255);
}

.block {
    background-image: url("../images/block.jpg");
}

.grass{
    background-image: url("../images/grass.png");
}

.ground {
    background-image: url("../images/ground.png");
}

.tree {
    background-image: url("../images/tree.png") ;
}
footer {
    grid-area: "footer";
    background-color: black;
}