* {
    margin: 0;
    padding: 0;
}
html {
    height: 100vh;
    width: 100vw;
}

body {
    height: 100%;
    display: grid;
    grid-template-areas: "body"
    "footer";
    grid-template-rows: 70% 30%;
}

header{
    width: 100%;
    grid-area: "body";
    display: grid;
    grid-template-columns: repeat(50,1fr);
    grid-template-rows:repeat(25, 1fr);
}

.sky{
    background-color: rgba(156, 233, 233);
}

.sky:hover {
    outline: white;
    border: 1px solid rgb(255, 255, 255);
}


footer {
    grid-area: "footer";
}